<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" Guid="*">
                <File Id="fil840B80AC19861C7F9F04FBDCFAE331CE" KeyPath="yes" Source="$(var.Medikit.Installer)\appsettings.json" />
            </Component>
            <Component Id="cmp91710BBC26289F9B4656241FE8A97166" Guid="*">
                <File Id="fil56A6452FF21E11E7D230D690E4155030" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.Authenticate.Client.deps.json" />
            </Component>
            <Component Id="cmp7F45CC870ADB8D50B9C9992DAAA22E21" Guid="*">
                <File Id="fil1A78E3CAB9CEB91BD1FB9F45270CA125" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.Authenticate.Client.dll" />
            </Component>
            
            <Component Id="cmpB225A20EC24C30434C6BB73C107CC3D2" Guid="*">
                <File Id="filB21D450B9F9BDEBCDB93F4564FF61877" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.Authenticate.Client.pdb" />
            </Component>
            <Component Id="cmpE749DAEB0A34F35D9044FEF89EA701A8" Guid="*">
                <File Id="filFDB6318563C214C3C48E6A54664FC81D" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.Authenticate.Client.runtimeconfig.json" />
            </Component>
            <Component Id="cmp1EC7F7638B7C6C73A6387139D4FF49C4" Guid="*">
                <File Id="filD9E4CE639D130F06947F5B990A8DFBF6" KeyPath="yes" Source="$(var.Medikit.Installer)\medikit.authenticate.manifest.json" />
            </Component>
            <Component Id="cmpB835262502B6CDCC5FB520ACE388A091" Guid="*">
                <File Id="filEF70070EED77726DA6E909816647F859" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.EHealth.dll" />
            </Component>
            <Component Id="cmp94F753C1826CC980359B912891C88646" Guid="*">
                <File Id="fil248BE1F5B2AD2845C18D34BC9B854894" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.EHealth.pdb" />
            </Component>
            <Component Id="cmpBF2EC698F71121B2BE71BBDA50BAB563" Guid="*">
                <File Id="filC3316F5B1FF9352894FD4765C12A1401" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.EID.dll" />
            </Component>
            <Component Id="cmp465AA4C3BBAFA913500A6D0D9479A375" Guid="*">
                <File Id="fil80B90EF30D1AE8ED3787B60A9744DF58" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.EID.pdb" />
            </Component>
            <Component Id="cmp18FBA36EA8389B5E8449CDE5F995E85E" Guid="*">
                <File Id="fil990A6E216F1100CC2CF99A70745CF4E0" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.Security.Cryptography.dll" />
            </Component>
            <Component Id="cmp81918A8AF0CB680DFEA9591B7F7E780F" Guid="*">
                <File Id="filE413B71B361900B2E423D1E0C98C4CD2" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.Security.Cryptography.pdb" />
            </Component>
            <Component Id="cmp1DFAC42B2A7CF1F836F8058DC289B2D2" Guid="*">
                <File Id="fil9EB48317FFE71AE4773F3D6F9D34B00D" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.Security.Cryptography.Pkcs.dll" />
            </Component>
            <Component Id="cmpF0229771AF47F4143EA0B19E24F87573" Guid="*">
                <File Id="fil5ECC4F44EBE76B3C5192E881CA70D729" KeyPath="yes" Source="$(var.Medikit.Installer)\Medikit.Security.Cryptography.Pkcs.pdb" />
            </Component>
            <Component Id="cmp714047D429C1D3C630FA480C3F226530" Guid="*">
                <File Id="fil57C5EC27EA94C0CD6C6A7BD044B378CD" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.AspNetCore.JsonPatch.dll" />
            </Component>
            <Component Id="cmp344C9185CA27890E8F33270B48B78631" Guid="*">
                <File Id="fil3DC3DCB8AFCC061F845D78035B2594A6" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll" />
            </Component>
            <Component Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" Guid="*">
                <File Id="filF6767F9D22B6D46DD3A2FC798B5F23DE" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Configuration.Abstractions.dll" />
            </Component>
            <Component Id="cmp85A16DDDD438C8839C302EEFF54E8E0C" Guid="*">
                <File Id="fil52FC3D526CBD9DC330C6FE3380563F0C" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Configuration.Binder.dll" />
            </Component>
            <Component Id="cmp4A61E3F01E16F7C35D22D304DE7C3D7D" Guid="*">
                <File Id="filB3B34A4CDA6A327AC31CAD64389BC80C" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Configuration.CommandLine.dll" />
            </Component>
            <Component Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" Guid="*">
                <File Id="filE9F345539532616C2BEF86BE1CEB83E2" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Configuration.dll" />
            </Component>
            <Component Id="cmp695DF09F0E9EE30558F8C6D16553F843" Guid="*">
                <File Id="filEAA27D91AD78E3FCD8BA846C92752BAA" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
            </Component>
            <Component Id="cmp0F72FDFC2B5DABBEED0952957424C516" Guid="*">
                <File Id="fil732B9D1BB8B2BA629B3802CB721B7E55" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Configuration.FileExtensions.dll" />
            </Component>
            <Component Id="cmp191446DEBB621CC91C2B2E713F085F01" Guid="*">
                <File Id="fil0CC9532B169036B73874B81A5F9C8F97" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Configuration.Json.dll" />
            </Component>
            <Component Id="cmp306F083BB44F8AEA42DD7E2AB9CD82C2" Guid="*">
                <File Id="fil867F166CDED00C699F6B217A4FC42957" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Configuration.UserSecrets.dll" />
            </Component>
            <Component Id="cmp198468A4AE980CD6955CB6EB86083726" Guid="*">
                <File Id="fil02E4E4D119BFC4831CEA5A71F1288443" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
            </Component>
            <Component Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" Guid="*">
                <File Id="filA40291A4FBD4719B6995DEB783A39A65" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.DependencyInjection.dll" />
            </Component>
            <Component Id="cmp0209E8308C907CAD5474151F7C6836F5" Guid="*">
                <File Id="fil1036FDFADEB4E1F1FB133485A70A0DD4" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.FileProviders.Abstractions.dll" />
            </Component>
            <Component Id="cmp6361EE614B62630DD923390326EAF03C" Guid="*">
                <File Id="fil1B3C0C67DC448F84DA45630529031E78" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.FileProviders.Physical.dll" />
            </Component>
            <Component Id="cmp1E5A63B6F657DD090469973A1C3D2C59" Guid="*">
                <File Id="fil931DDF3633F4CABF1422600B672C70DE" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.FileSystemGlobbing.dll" />
            </Component>
            <Component Id="cmpB96239F931804879A085E057C6E72657" Guid="*">
                <File Id="filFE47041DFF0F714E6C7D801D2D2C140A" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Hosting.Abstractions.dll" />
            </Component>
            <Component Id="cmp1ED5B5DCD1725E69F71E98865BCEAAB9" Guid="*">
                <File Id="filD0586081609434942EDB53299EF52D71" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Hosting.dll" />
            </Component>
            <Component Id="cmpFD16E629F3B1C17887ACD3B97583CB13" Guid="*">
                <File Id="filEFB595E81CA62CF58EF39208C76F7F06" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Hosting.WindowsServices.dll" />
            </Component>
            <Component Id="cmp8C674FD6A69988A60A77A4CEE0F53781" Guid="*">
                <File Id="fil72342637E9F74EE945317D4603CEBA2F" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Logging.Abstractions.dll" />
            </Component>
            <Component Id="cmp9B211F39744547E733F9040027FF1A3B" Guid="*">
                <File Id="filC6D4BDB43CC150D24C5E1BDE9EB552F7" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Logging.Configuration.dll" />
            </Component>
            <Component Id="cmp60BA3AB6448C5A0208FEDA4F886EDDE8" Guid="*">
                <File Id="filA347F900C2828DE2F50C35BDA8F5CE44" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Logging.Console.dll" />
            </Component>
            <Component Id="cmp591239506CAB75D331DE5D90D6713057" Guid="*">
                <File Id="fil1CB90B4A15160F351B5EB5D2DED1B050" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Logging.Debug.dll" />
            </Component>
            <Component Id="cmp835034F744990576E31C2DBC7C9293BF" Guid="*">
                <File Id="fil71DD299EE7649E964200A4127797D1C0" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Logging.dll" />
            </Component>
            <Component Id="cmp3D087D80699D13BCB013A8533A2C0DCF" Guid="*">
                <File Id="filA050696110EF79DCA5E76B6513E54FB2" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Logging.EventLog.dll" />
            </Component>
            <Component Id="cmp63493859708989EE0F11F5DF7347E61A" Guid="*">
                <File Id="filBF2F378F474FFE2ABA30A373F8BB00C0" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Logging.EventSource.dll" />
            </Component>
            <Component Id="cmpF5D2F2D913749765205DC918BD981CD0" Guid="*">
                <File Id="fil3F5CF8D11C3311A25D3082B99A709528" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
            </Component>
            <Component Id="cmp3279C150AE8DF554FD7EEE2085672A2B" Guid="*">
                <File Id="filA8D1F5D61FD7BC25099F707CBF5B1F24" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Options.dll" />
            </Component>
            <Component Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" Guid="*">
                <File Id="fil773F29942324AAB2A7E1977E1AC63609" KeyPath="yes" Source="$(var.Medikit.Installer)\Microsoft.Extensions.Primitives.dll" />
            </Component>
            <Component Id="cmpE679161C4F75F1B7C7AE4047591EBF60" Guid="*">
                <File Id="filA733CFEDBBAEF5FB0253E58062369BFE" KeyPath="yes" Source="$(var.Medikit.Installer)\Newtonsoft.Json.Bson.dll" />
            </Component>
            <Component Id="cmpBC4FC00A26E7D32479D42D3411317FC5" Guid="*">
                <File Id="fil90A8AAD9FC612906D405476D61CEA3F4" KeyPath="yes" Source="$(var.Medikit.Installer)\Newtonsoft.Json.dll" />
            </Component>
            <Component Id="cmp7D4F798F72D76FC20C3817C0F183F216" Guid="*">
                <File Id="fil9CF4750546241AB22353B720BF27109F" KeyPath="yes" Source="$(var.Medikit.Installer)\PcscDotNet.dll" />
            </Component>
            <Component Id="cmp64D6C257C4FBD84AB597016DA6EC30BC" Guid="*">
                <File Id="fil6BA08CF2C56AC0A34B5633A9B3B4FAC1" KeyPath="yes" Source="$(var.Medikit.Installer)\PcscDotNet.pdb" />
            </Component>
            <Component Id="cmp3C5190B580EDFB87D0BC5E835BB950DE" Guid="*">
                <File Id="fil0B6369FF78F990F18A525D5F0CC6D1AB" KeyPath="yes" Source="$(var.Medikit.Installer)\System.ServiceProcess.ServiceController.dll" />
            </Component>
            <Component Id="cmpB139B49DF4DF8F44C525B449EA8187F7" Guid="*">
                <File Id="filE7A3E65CC622C2E3B9B57707B12C9645" KeyPath="yes" Source="$(var.Medikit.Installer)\web.config" />
            </Component>
            <Directory Id="dirC234FA76A6ECAB3430BFB56984EADCC3" Name="Certificates">
                <Component Id="cmp1B9E8989F93425E3840D3CEDBCE0EC70" Guid="*">
                    <File Id="filD0902CC60B7314AE4227AE8CD8F21F0A" KeyPath="yes" Source="$(var.Medikit.Installer)\Certificates\CBE=0543979265 20200417-143522.acc-p12" />
                </Component>
            </Directory>
            <Directory Id="dir3384D516679ED362302BD04F7FF9ADE6" Name="Extensions">
                <Directory Id="dir2F1096F31511635CE3CB7BFA26D1377A" Name="Chrome">
                    <Component Id="cmp52AE72C0B9E64E12C1EA75EE3F1962E6" Guid="*">
                        <File Id="fil66C7CCC225E9255FA53279F5B02BF33B" KeyPath="yes" Source="$(var.Medikit.Installer)\Extensions\Chrome\manifest.json" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir58E8247E2885C01898CAD009F9EFD8BA" Name="runtimes">
                <Directory Id="dir9BE9104649A116CC7BCCF4D9CCD3331B" Name="win">
                    <Directory Id="dirD19B0610952D1EE2D417EB5361695989" Name="lib">
                        <Directory Id="dir9B4F20F396822EEA06946FAEF0EA799A" Name="netstandard2.0">
                            <Component Id="cmp40FBCECCD67CE1E0530D4D98172F59EF" Guid="*">
                                <File Id="filAF9D76B389C79302EDBD0A5A1F333EDF" KeyPath="yes" Source="$(var.Medikit.Installer)\runtimes\win\lib\netstandard2.0\System.ServiceProcess.ServiceController.dll" />
                            </Component>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Medikit.Installer.Binaries">
            <ComponentRef Id="cmpF82FCA80BBAF44D285C97F10993DEEE6" />
            <ComponentRef Id="cmp91710BBC26289F9B4656241FE8A97166" />
            <ComponentRef Id="cmp7F45CC870ADB8D50B9C9992DAAA22E21" />
            
            <ComponentRef Id="cmpB225A20EC24C30434C6BB73C107CC3D2" />
            <ComponentRef Id="cmpE749DAEB0A34F35D9044FEF89EA701A8" />
            <ComponentRef Id="cmp1EC7F7638B7C6C73A6387139D4FF49C4" />
            <ComponentRef Id="cmpB835262502B6CDCC5FB520ACE388A091" />
            <ComponentRef Id="cmp94F753C1826CC980359B912891C88646" />
            <ComponentRef Id="cmpBF2EC698F71121B2BE71BBDA50BAB563" />
            <ComponentRef Id="cmp465AA4C3BBAFA913500A6D0D9479A375" />
            <ComponentRef Id="cmp18FBA36EA8389B5E8449CDE5F995E85E" />
            <ComponentRef Id="cmp81918A8AF0CB680DFEA9591B7F7E780F" />
            <ComponentRef Id="cmp1DFAC42B2A7CF1F836F8058DC289B2D2" />
            <ComponentRef Id="cmpF0229771AF47F4143EA0B19E24F87573" />
            <ComponentRef Id="cmp714047D429C1D3C630FA480C3F226530" />
            <ComponentRef Id="cmp344C9185CA27890E8F33270B48B78631" />
            <ComponentRef Id="cmpDC19BA21EFF423B27F8787A2AB8F2B3C" />
            <ComponentRef Id="cmp85A16DDDD438C8839C302EEFF54E8E0C" />
            <ComponentRef Id="cmp4A61E3F01E16F7C35D22D304DE7C3D7D" />
            <ComponentRef Id="cmpC2B3CC4C105FBF588A9EBBD45742C349" />
            <ComponentRef Id="cmp695DF09F0E9EE30558F8C6D16553F843" />
            <ComponentRef Id="cmp0F72FDFC2B5DABBEED0952957424C516" />
            <ComponentRef Id="cmp191446DEBB621CC91C2B2E713F085F01" />
            <ComponentRef Id="cmp306F083BB44F8AEA42DD7E2AB9CD82C2" />
            <ComponentRef Id="cmp198468A4AE980CD6955CB6EB86083726" />
            <ComponentRef Id="cmp493E9BC44885B6BC5C57BDB1302C40D9" />
            <ComponentRef Id="cmp0209E8308C907CAD5474151F7C6836F5" />
            <ComponentRef Id="cmp6361EE614B62630DD923390326EAF03C" />
            <ComponentRef Id="cmp1E5A63B6F657DD090469973A1C3D2C59" />
            <ComponentRef Id="cmpB96239F931804879A085E057C6E72657" />
            <ComponentRef Id="cmp1ED5B5DCD1725E69F71E98865BCEAAB9" />
            <ComponentRef Id="cmpFD16E629F3B1C17887ACD3B97583CB13" />
            <ComponentRef Id="cmp8C674FD6A69988A60A77A4CEE0F53781" />
            <ComponentRef Id="cmp9B211F39744547E733F9040027FF1A3B" />
            <ComponentRef Id="cmp60BA3AB6448C5A0208FEDA4F886EDDE8" />
            <ComponentRef Id="cmp591239506CAB75D331DE5D90D6713057" />
            <ComponentRef Id="cmp835034F744990576E31C2DBC7C9293BF" />
            <ComponentRef Id="cmp3D087D80699D13BCB013A8533A2C0DCF" />
            <ComponentRef Id="cmp63493859708989EE0F11F5DF7347E61A" />
            <ComponentRef Id="cmpF5D2F2D913749765205DC918BD981CD0" />
            <ComponentRef Id="cmp3279C150AE8DF554FD7EEE2085672A2B" />
            <ComponentRef Id="cmp946145B53A7DCDFA822B0EFD2314FAB6" />
            <ComponentRef Id="cmpE679161C4F75F1B7C7AE4047591EBF60" />
            <ComponentRef Id="cmpBC4FC00A26E7D32479D42D3411317FC5" />
            <ComponentRef Id="cmp7D4F798F72D76FC20C3817C0F183F216" />
            <ComponentRef Id="cmp64D6C257C4FBD84AB597016DA6EC30BC" />
            <ComponentRef Id="cmp3C5190B580EDFB87D0BC5E835BB950DE" />
            <ComponentRef Id="cmpB139B49DF4DF8F44C525B449EA8187F7" />
            <ComponentRef Id="cmp1B9E8989F93425E3840D3CEDBCE0EC70" />
            <ComponentRef Id="cmp52AE72C0B9E64E12C1EA75EE3F1962E6" />
            <ComponentRef Id="cmp40FBCECCD67CE1E0530D4D98172F59EF" />
        </ComponentGroup>
    </Fragment>
</Wix>