<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Medikit.Installer" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Company)" UpgradeCode="46c81c78-884c-473c-a999-042891cbf632">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

		<Feature Id="ProductFeature" Title="Medikit.Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>

    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <WixVariable Id="WixUILicenseRtf" Value="licenseAgreement.rtf" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Medikit.Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentGroupRef Id="Medikit.Installer.Binaries" />
      <Component Id="RegisterChromeNativeHost" Guid="9df9e364-1efb-45d2-a09d-d6f10659b837">
        <RemoveFile Id="PurgeDll" Name="*.dll" On="uninstall" />
        <RemoveFile Id="PurgePdb" Name="*.pdb" On="uninstall" />
        <RemoveFile Id="PurgeJson" Name="*.json" On="uninstall" />
        <RemoveFile Id="PurgeExe" Name="*.exe" On="uninstall" />
        <RemoveFile Id="PurgeConfig" Name="*.config" On="uninstall" />
        <RegistryKey Root="HKCU"
                     Key="Software\Google\Chrome\NativeMessagingHosts\medikit.authenticate"
                     ForceDeleteOnUninstall="yes"
                     ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Value="[INSTALLFOLDER]medikit.authenticate.manifest.json" KeyPath="yes"/>
        </RegistryKey>
        <RegistryKey Root="HKCU"
                     Key="Software\Google\Chrome\Extensions\npapnecpdopfnbbjhagecpfndanllmhi"
                     ForceDeleteOnUninstall="yes"
                     ForceCreateOnInstall="yes">
          <RegistryValue Type="string" Value="https://clients2.google.com/service/update2/crx" Name="update_url" />
        </RegistryKey>
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
