html, body {
	height: 100%;
}

html, body {
    margin: 0 !important;
}

.full-width {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.breadcrumb {
    padding: 20px 0px 20px 0px;
}

.breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb ul .separator {
    padding-right: .75rem;
    padding-left: .75rem;
}

.breadcrumb ul li {
    display: inline-block;
}