<ng-container>
    <mat-toolbar class="header-toolbar" color="primary">
        <a class="no-style" [routerLink]="['/home']"></a>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <img src="{{logoUrl}}" width="40px" />
        <h1>Medikit</h1>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="languages">{{ "languages" | translate }}</button>
        <mat-menu #languages="matMenu">
            <button mat-menu-item (click)="chooseLanguage('fr')" [class.active]="activeLanguage === 'fr'">{{ "french" | translate }}</button>
            <button mat-menu-item (click)="chooseLanguage('nl')" [class.active]="activeLanguage === 'nl'">{{ "dutch" | translate }}</button>
            <button mat-menu-item (click)="chooseLanguage('en')" [class.active]="activeLanguage === 'en'">{{ "english" | translate }}</button>
        </mat-menu>
        <div *ngIf="isConnected">
            <a mat-raised-button color="primary" (click)="openHelpDialog()" *ngIf="!isExtensionInstalled">{{ 'install-extension' | translate }}</a>
            <button mat-button [matMenuTriggerFor]="extensionMenu" *ngIf="isExtensionInstalled">
                <span *ngIf="isEhealthSessionActive">{{ 'ehealth-session-active' | translate:{hour:sessionValidityHour} }}</span>
                <span *ngIf="!isEhealthSessionActive">{{ 'ehealth-session-not-active' | translate }}</span>
            </button>
            <mat-menu #extensionMenu="matMenu">
                <button mat-menu-item (click)="createEHealthSessionWithCertificate()" *ngIf="!isEhealthSessionActive">{{ 'create-session-with-certificate' | translate }}</button>
                <button mat-menu-item (click)="createEHealthSessionWithEID()" *ngIf="!isEhealthSessionActive">{{ 'create-session-with-eid' | translate }}</button>
                <button mat-menu-item (click)="dropEhealthSession()" *ngIf="isEhealthSessionActive">{{ 'drop-session' | translate }}</button>
                <button mat-menu-item [routerLink]="['/setting/extension']">{{ 'configure-extension' | translate }}</button>
            </mat-menu>
            <button mat-button [matMenuTriggerFor]="welcomeMenu">
                {{ "welcome" | translate:{name:name} }}
            </button>
            <mat-menu #welcomeMenu="matMenu">
                <button mat-menu-item (click)="disconnect()">{{ "disconnect" | translate }}</button>
            </mat-menu>
        </div>
        <div *ngIf="!isConnected">
            <button mat-raised-button color="primary" (click)="login()">{{ "authenticate" | translate }}</button>
            <button mat-raised-button color="primary" (click)="chooseSession()">{{ "choose-session" | translate }}</button>
        </div>
    </mat-toolbar>
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav class="sidenav" #sidenav mode="side" opened [fixedInViewport]="false" [fixedTopGap]="0" [fixedBottomGap]="0">
            <mat-nav-list *ngIf="isConnected">
                <a mat-list-item [routerLink]="['/medicalfile']" [routerLinkActive]="['is-active']"><img src="{{ medicalFilesLogoUrl }}" /> {{ 'medicalfiles' | translate }}</a>
                <a mat-list-item [routerLink]="['/patient']" [routerLinkActive]="['is-active']"><mat-icon>person</mat-icon> {{ "patients" | translate }}</a>
                <a mat-list-item [routerLink]="['/setting']" [routerLinkActive]="['is-active']"><mat-icon>settings</mat-icon> {{ "settings" | translate }}</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>