<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <div class="mat-h1">{{ "prescriptions" | translate }}</div>
    </div>
</div>
<div fxLayout="row">
    <div fxFlex="80%" fxFlexOffset="10%" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutGap="10px">
            <mat-card fxFlex="50%">
                <mat-card-content>

                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="50%">
                <mat-card-content>
                    <form [formGroup]="nissFormGroup" (ngSubmit)="onSumitNissForm(nissFormGroup.value)">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="{{ 'enter-niss' | translate }}" name="niss" formControlName="niss" [matAutocomplete]="auto" />
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                                <mat-option *ngFor="let patient of filteredPatientsByNiss" [value]="patient.niss">
                                    {{ patient.firstname }} - {{ patient.lastname}} ({{ patient.niss }})
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <button mat-raised-button color="primary" [disabled]="!sessionExists">{{ 'search' | translate }}</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card>
                <mat-card-content>
                    <button mat-raised-button color="primary" [routerLink]="['/prescription/add-pharma']">{{ 'add-prescription' | translate }}</button>
                    <div>
                        <span *ngIf="prescriptionIds.length === 0">{{ 'no-prescription' | translate }}</span>
                        <mat-list>
                            <mat-list-item *ngFor="let prescriptionId of prescriptionIds">
                                <span>{{ prescriptionId }}</span>
                                <div class="spacer"></div>
                                <a [routerLink]="['/prescription', prescriptionId]">
                                    <mat-icon>visibility</mat-icon>
                                </a>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>