<div fxLayout="row" class="breadcrumb">
    <div fxFlex="80%" fxFlexOffset="10%">
        <ul>
            <li>
                <div class="mat-h1">
                    <a [routerLink]="['/patient']">{{ "patients" | translate }}</a>
                </div>
            </li>
            <li class="separator"><div class="mat-h1">\</div></li>
            <li>
                <div class="mat-h1">
                    {{ "patient" | translate }}
                </div>
            </li>
        </ul>
    </div>
</div>
<div>

</div>